/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

button, .login-btn {
  border-radius: 30px;
  border: no-border;
  background-color: #ffbaba;
  font-size: 15px;
  padding: 12px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 5px;
  font-family: inherit;
}


/* ------ Homepage ------ */

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  flex-wrap: no-wrap;
  background-color: #678a74;
  align-content: space-around;
  text-align: center;
}

.home-ant-container {
  background-color: white;
  height: 350px;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 8px #f7c5a8;
}

.home-ant-container:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.home-syn-container {
  background-color: white;
  height: 420px;
  width: 320px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 8px #f7c5a8;
}

.home-syn-container:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.user-scores {
  background-color: white;
  height: 350px;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 8px #f7c5a8;
}

.user-scores:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.syn-play-button {
  font-size: 200px;
  margin: 20px;
  padding-top: 50px;
  text-align: center;
}

.ant-play-button {
  font-size: 130px;
  margin: 20px;
  padding-top: 50px;
  text-align: center;
}

/* ------ Synonym Game Play Page ------ */

.outer-game-container {
  background-color:#678a74;
  padding: 80px;
}

.game-container {
  display: flex;
  /* grid-template-areas:
      "info-bar info-bar"
      "headword headword"
      "guess guess"
      "anagrams found-words";
  grid-template-columns: 2fr 2fr; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  flex-wrap: wrap;
  /* background-color: #678a74; */
  align-content: space-around;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 8px #f7c5a8;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}

.info-bar {
  /* grid-area: info-bar; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  /* flex-wrap: wrap; */
  background-color:white;
  align-content: space-around;
  text-align: center;

  height: 100px;
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 5px 8px #f7c5a8; */
  margin-top: 30px;
}

.headword-and-guess-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headword-div {
  /* grid-area: headword; */
  background-color: white;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 5px 8px #f7c5a8; */
  margin: 25px;
}
.guess-form-outer-div {
  grid-area: guess;
  width: 100%;
  text-align: center;
}

.guess-form {
  background-color: white;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 5px 8px #f7c5a8; */
  margin: 25px;
  font-family: inherit;
  outline: none;
}

.guess-form-input {
  height: 85px;
  width: 450px;
  font-size: 75px;
  border: none;
  font-family: inherit;
  color: gray;
  outline: none;
  caret-color: #678a74;
}

.anagrams {
  /* grid-area: anagrams; */
  background-color: white;
  height: 350px;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 5px 8px #f7c5a8; */
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 25px;
}

.anagram-div {
  margin: 6px;
}

.current-word {
  font-size: 80px;
  margin: 25px;
}

.found-words {
  /* grid-area: found-words; */
  background-color: white;
  height: 350px;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 5px 8px #f7c5a8; */
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 25px;
}

.synonym-div {
  color: green;
}

.unfound-word-div {
 color: red;
}

/* ------ Modal ------ */

.end-round-modal {
  position:fixed;
    background: white;
    width: 30%;
    height: 30%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: 5px 8px #f7c5a8;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

.end-round-message {
  font-size: 30px;
}

/* ------ Nav Bar ------ */

.header-name {
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 50px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  /* float: left; */
  height: 70px;
  /* border-style: solid;
  border-width: 2px;
  border-color: gray; */
  background-color: #f7c5a8;
}

.nav-heading-name {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 45px;
  float: left;
}

.nav-li {
  float: right;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}

.nav-link:visited {
  color: black;
}

/* ------ Leaderboard ------ */

.leaderboard {
  margin: auto;
  width: 40%;
  text-align: center;
}

.leaderboard-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.high-score-li {
  float: right;
  width: 10%;
  text-align: center;
}